.button-call {
    background-color: var(--main-color);
    color: white;
    padding: 12px 40px 12px 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    cursor: pointer;    
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.button-call:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.button-call-home {
    background-color: var(--main-color);
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 5px 5px 5px 25px;
    cursor: pointer;    
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-call-home:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

h1 {
    font-size: 2.5rem;
}

.a-side {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.b-side {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}

.c-side {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.d-side {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.hg {
    min-height: 400px;
}

.gradient {
    background-image: linear-gradient(to top, var(--dark) 50%, #005b41 100%);
}

.cards {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.rect {
    width: 50px;
    background-color: #003123;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rect:hover {
    background-color: #00251b;
}

@media (max-width: 1125px) {
    .a-side {
        max-width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: center;
    }

    .b-side {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .c-side {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .d-side {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}