h3 {
    margin-top: 0.2em;
}

span {
    text-align: end;
    font-size: 0.9rem;
}

.card-h {
    padding: 20px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(27, 27, 27);
    display: flex;
    flex-basis: 44%;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden; 
    transition: 0.2s;
}

.text-center {
    text-align: center;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.grow {
    flex-grow: 1;
}

.owner {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
}

.owner-info {
    display: flex;
    align-items: center;
    justify-content: start;
}

.owner-pic {
    border-radius: 20px;
}

.button-call.white {
    background-color: var(--dark-grey);
    color: var(--dark);
}

.link {
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 400px) {
    .button-call {
        font-size: 1rem;
        font-weight: 600;
    }
}