.menu-items {
    display: flex;
    gap: 20px;
}

.menu-item {
    background-color: #005b41;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

a.active {
  color: #005b41;
  font-size: 1.3rem;
}

@media (max-width: 800px) {
    .menu-items {
        display: flex;
        flex-direction: column;
    }
}